.App {
  width: 100%;
  min-height: 100vh;
}

.MainApp {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.main > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}
